.top-container{
    background-color: #014646;
    position: relative;
    margin: -10px -100px -10px -10px;
    padding-bottom: 200px;
}
.middle-container{
    margin: 100px 0;
}
#ramandeep{
    border-radius: 50%;
    height: 15%;
    width: 15%;
    padding-left: 15%;
    padding-right: 15%;
}
#first-cloud{
    display: absolute;
    margin-left: 75%;
    padding-top: 5%;
}
#second-cloud{
    display: absolute;
    margin-right: 75%;
    padding-top: 5px;
}
#software-development{
    /* color: rgb(0,255,255); */
    color: #00f7ff;
    padding-right: 55%;
    padding-top: 10px;
}
#web-development{
    /* color: rgb(0, 225, 255); */
    color: #00f7ff;
    padding-left: 55%;
}
.software-dev, .web-dev{
    width: 20%;
    border-radius: 50%;
}
.software-dev{
    float: left;
    margin-left: 200px;
}
p{
    line-height: 2;
}
.web-dev{
    float: right;
    margin-top: 0px;
    margin-right: 200px; 
}
#programmer, #coffee{
    font-family: 'Montserrat', sans-serif;
}
#intro{
    color: #ffce2d;
    width: 35%;
    margin: 20px auto 20px auto;
}
body{
    background-color: black;
    color: #60e8cf;
    /* margin: 0 auto 0 auto; */
    text-align: center;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}
#soft-dev-skill{
    width: 60%;
    margin: auto;
    padding-top: 20px;
    
}
#web-dev-skill{
    width: 60%;
    margin: auto;
    padding-top: 50px;
}
h1{
    font-family: 'Sacramento', serif;
    font-size: 5.625em;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    font-weight: normal;
    line-height: 2;
}
#programmer{
    /* color: rgb(185, 247, 188); */
    color: #66BFBF;
    font-weight: normal;
    /* text-align: center; */
}
#coffee{
    color: rgb(255, 255, 255);
    /* text-align: center; */
}
hr{
    border-style: none;
    border-top-style:dotted;
    border-color: #EAF6F6;
    border-width: 5px;
    width: 5%;
}
#work{
    /* margin-left: 50%; */
    /* color: aquamarine; */
    color: #00ffff;
}
#work_table{
    color: #ccfff6;
    padding-left: 10%;
}
#skills{
    /* margin-left: 50%; */
    /* color: aquamarine; */
    color: #00ffff;
    margin-top: 50px;
}
#skills_table{
    color: #ccfff6;
    padding-left: 19%;
    padding-top: 2%;
}
th, td{
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
}
#McD{
    padding-bottom: 100px;
}
#footer{
    /* background-color: #014a4a; */
    background-color: #66BFBF;
    margin: 0 -20px -20px -20px;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}
#footer a{
    margin: auto;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
}
#footer a:hover{
    color: #EAF6F6;
}
#contact{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    color: #EAF6F6;
}
.contact-button{
    text-decoration: none;
    height: 50px;
    width: 100px;
    border-radius: 8%;
    background-color: #11999E;
}
.contact-button:hover{
    background-color: #2bc4ad;
}
.contact-button a{
    text-decoration: none;
    color: black;
}
h6 a{
    text-decoration: none;
    color: aliceblue;
}
ul{
    color:blanchedalmond
}
ul li{
    list-style-type:square;
    padding-top: 10px;
    color: aliceblue;
}
#get_in_touch{
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}
#touch{
    background-color: red;
}
#contact a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding-left: 1%;
    padding-right: 10%;
    color: #39002d;
}
#copyright{
    color: #EAF6F6;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    padding: 20px 0;
}
/*==================================================
=====================================================
=====================================================*/
@media screen and (max-width:900px){
    body{
        background-color: black;
        font-family: 'Montserrat', sans-serif;
    }
    #footer{
        background-color: aqua;
        font-family: 'Montserrat', sans-serif;
    }

}