.top-container{
    background-color: #007d6661;
    position: relative;
    padding-top: 100px;
}
#ramandeep{
    border-radius: 50%;
    height: 15%;
    width: 15%;
    padding-left: 15%;
    padding-right: 15%;
}
#first-cloud{
    display: absolute;
    margin-left: 75%;
}
#second-cloud{
    display: absolute;
    margin-right: 75%;
    padding-top: 5px;
}
.software-dev, .web-dev{
    width: 20%;
    border-radius: 70%;
}
.software-dev{
    float: left;
}
#programmer, #coffee{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #366;
    /* background-color: #EAF6F6; */
    color: lightblue;
    /* margin: 0 auto 0 auto; */
    text-align: center;
    font-family: 'Merriweather', serif;
}
#soft-dev-skill, #web-dev-skill{
    width: 50%;
    margin: 100px auto 10px 30px;
    text-align: left;
}
#soft-dev-skill{
    padding-left: 300px;
}
h1{
    font-family: 'Sacramento', serif;
    font-size: 5.625em;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    font-weight: normal;
    line-height: 2;
}
#programmer{
    /* color: rgb(185, 247, 188); */
    color: #66BFBF;
    font-weight: normal;
    /* text-align: center; */
}
#coffee{
    color: rgb(255, 255, 255);
    /* text-align: center; */
}
hr{
    border-style: none;
    border-top-style:dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
/* #student{
    margin-left: 40%;
} */
/* #location{
    margin-left: 47%;
    padding-bottom: 100px;
} */
#work{
    /* margin-left: 50%; */
    /* color: aquamarine; */
    color: #11999E;
}
#work_table{
    /* margin-left: 30%; */
    color: aqua;
    margin: auto;
}
#skills{
    /* margin-left: 50%; */
    /* color: aquamarine; */
    color: #11999E;
}
#skills_table{
    /* margin-left: 30%; */
    color: aqua;
    margin: auto;
}
th, td{
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
}
/* img{
   border-radius: 50%;
   margin-left: 32%;
   padding-top: 100px;
   padding-bottom: 100px;
} */
#McD{
    padding-bottom: 100px;
}
#footer{
    background-color: #014a4a;
    font-size: large;
}
#contact{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}
h6 a{
    text-decoration: none;
    color: aliceblue;
}
ul{
    color:blanchedalmond
}
ul li{
    list-style-type:square;
    padding-top: 10px;
    color: aliceblue;
}
#contact a{
    text-decoration: none;
    /* color: white; */
    padding-left: 1%;
    padding-right: 10%;
    color: #11999E;
}
/*==================================================
=====================================================
=====================================================*/
@media screen and (max-width:900px){
    body{
        background-color: black;
    }
    #footer{
        background-color: aqua;
    }

}